@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --cont_padding: 20px;
        --inner_gap_l: 24px;
        --inner_gap: 20px;
        --font_size_title_l: 32px;
        --font_size_title: 26px;
        --font_size_title_s: 20px;
        --block_head_offset_l: 32px;
        --block_head_offset: 28px;
        --outside_gap: 60px;
    }



    /*--------------
        Fancybox
    --------------*/
    .f-button.is-close-button
    {
        top: var(--inner_gap_xxs);
        right: var(--inner_gap_xxs);
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding-block: var(--inner_gap_xxs);
    }


    .accordion_item .head .title
    {
        font-size: var(--font_size);
    }


    .accordion_item .head .icon
    {
        width: 32px;
        min-width: 32px;
    }


    .accordion_item .data
    {
        padding-bottom: var(--inner_gap_xxs);
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination a.first,
    .pagination a.last
    {
        display: none;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        margin-bottom: 0;
        padding-block: var(--inner_gap_xs);

        border: none;
    }


    .mob_header .logo
    {
        font-size: calc(var(--font_size_xs) - 1px);
    }


    .mob_header .logo img
    {
        width: 166px;
        height: 17px;
    }


    .mob_header .search
    {
        margin-top: var(--inner_gap_xs);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *,
    .form .columns > *.width1of3,
    .form .columns > *.width2of3
    {
        width: calc(100% - var(--form_columns_gap));
    }


    .form .contacts_method .grid_row
    {
        --items_per_line: 2;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: var(--block_head_offset_l);
    }


    .breadcrumbs
    {
        font-size: var(--font_size_xs);
    }


    .page_head .row
    {
        justify-content: space-between;

        gap: var(--inner_gap);
    }


    .page_title
    {
        width: 100%;
    }


    .page_head .help_btn
    {
        margin-left: 0;
    }


    .page_head .back
    {
        order: 2;
    }


    .page_head .logout_btn
    {
        order: 3;

        margin-left: 0;
    }


    .page_head .banner
    {
        padding-inline: var(--inner_gap);
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        margin-bottom: var(--block_padding_xl);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .video_link .icon
    {
        width: 72px;

        border-width: 4px;
    }


    .text_block .video_link .icon svg
    {
        width: 24px;
        height: 25px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .main_slider
    {
        width: 100%;
    }


    .first_section .main_slider .swiper-slide
    {
        height: 268px;
        padding-inline: var(--block_padding_xl);

        text-align: center;
    }


    .first_section .main_slider .info
    {
        align-content: center;
        align-items: center;
    }



    .first_section .promotions
    {
        width: 100%;
    }


    .first_section .promotions .link
    {
        padding-block: var(--inner_gap) 60px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .grid_row
    {
        --items_per_line: 1;
    }



    .advantages .bg
    {
        top: -632px;
    }



    /*---------------------
        Products filter
    ---------------------*/
    .products_filter .item .grid_row
    {
        --items_per_line: 2;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head .sort
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xs);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .products_head .sort::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .products_head .sort::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .products_head .sort > *
    {
        margin: 0;

        scroll-snap-align: start;
    }



    /*--------------------
        Sub categories
    --------------------*/
    .category_info .sub_categories .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xs);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .category_info .sub_categories .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .category_info .sub_categories .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .category_info .sub_categories .grid_row > *
    {
        width: 140px;
        margin: 0;

        scroll-snap-align: start;
    }


    .category_info .sub_categories .category
    {
        padding-block: var(--inner_gap_xs);

        font-size: var(--font_size_s);
    }


    .category_info .sub_categories .category .thumb
    {
        height: 60px;
    }



    /*--------------
        Products
    --------------*/
    .products .grid_row,
    .content .products .grid_row
    {
        --items_per_line: 2;
    }



    .products .swiper-slide
    {
        visibility: visible;

        width: 240px;

        pointer-events: auto;

        opacity: 1;
    }


    .products .swiper-button-next,
    .products .swiper-button-prev
    {
        display: none;
    }



    .products .product
    {
        padding-block: 0 var(--inner_gap_xxs);
        padding-inline: var(--inner_gap_xxs);

        border-radius: var(--border_radius_s);
    }


    .products .product .top
    {
        margin-bottom: var(--inner_gap_xxs);
        padding-block: var(--inner_gap_xxs);
    }


    .products .product .btns
    {
        gap: var(--inner_gap_xs);
    }


    .products .product .stickers
    {
        gap: 2px;
    }


    .products .product .sticker
    {
        padding: 2px 4px 4px;

        font-size: 10px;
    }


    .products .product .sticker.discount
    {
        padding-block: 1px 3px;
        padding-inline: 3px;
    }


    .products .product .thumb
    {
        margin-bottom: var(--inner_gap_xxs);
    }


    .products .product .rating
    {
        font-size: var(--font_size_xs);
    }


    .products .product .rating .icon
    {
        position: relative;
        top: -2px;

        width: 14px;
    }


    .products .product .status .icon
    {
        position: relative;
        top: -1px;

        width: 14px;
    }


    .products .product .features
    {
        display: none;
    }


    .products .product .price
    {
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        width: 100%;

        gap: 4px;
    }


    .products .product .price .current
    {
        font-size: calc(var(--font_size_l) - 1px);
    }


    .products .product .price .old
    {
        font-size: calc(var(--font_size_xs) - 1px);
    }


    .products .product .buy_btn
    {
        width: 100%;
    }



    .products .list .product .thumb
    {
        width: 116px;
        margin-inline: auto;
    }


    .products .list .product .name
    {
        width: 100%;
    }



    .products .bottom_controls .limit
    {
        justify-content: center;

        width: 100%;
    }


    .products .bottom_controls .pagination
    {
        width: 100%;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .grid
    {
        grid-template-columns: 1fr;
    }


    .catalog .category:nth-child(1)
    {
        padding-top: 200px;

        grid-row: auto;
    }


    .catalog .category:nth-child(1) .thumb
    {
        width: 315px;
    }


    .catalog .category:nth-child(2)
    {
        height: auto;

        grid-column: auto;
    }


    .catalog .category .thumb
    {
        width: 104px;
    }



    /*------------
        Brands
    ------------*/
    .brands .swiper
    {
        padding-bottom: 0;
    }


    .brands .swiper-slide
    {
        width: 240px;

        transform: scale(1);
    }


    .brands .swiper-button-next,
    .brands .swiper-button-prev
    {
        display: none;
    }



    /*-------------
        Banners
    -------------*/
    .banners .banner
    {
        min-height: 232px;
        padding: var(--inner_gap);
    }


    .banners .banner .desc
    {
        width: 200px;

        font-size: var(--font_size);
    }


    .banners .banner .desc br
    {
        display: none;
    }



    /*-------------------
        Photo gallery
    -------------------*/
    .photo_gallery .swiper-slide
    {
        width: 240px;

        opacity: 1;
    }



    /*--------------
        Articles
    --------------*/
    .articles .swiper-button-next,
    .articles .swiper-button-prev
    {
        display: none;
    }



    /*-----------
        Certs
    -----------*/
    .certs .swiper-button-next,
    .certs .swiper-button-prev
    {
        display: none;
    }


    .certs .thumb img
    {
        height: 200px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .swiper-button-next,
    .reviews .swiper-button-prev
    {
        display: none;
    }


    .reviews .swiper-slide
    {
        visibility: visible;

        width: 320px;

        pointer-events: auto;

        opacity: 1;
    }



    /*------------------
        Payment info
    ------------------*/
    .payment_info .method .grid_row
    {
        --items_per_line: 1;
    }



    /*-------------------
        Delivery info
    -------------------*/
    .delivery_info .method .name
    {
        width: 100%;
        max-width: 100%;
    }


    .delivery_info .method .options
    {
        gap: var(--inner_gap_xs);
    }


    .delivery_info .method .options > *
    {
        width: 100%;
    }



    .delivery_info .additional table th + th,
    .delivery_info .additional table td + td
    {
        padding-left: var(--inner_gap_m);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .phones .grid_row
    {
        --items_per_line: 1;
    }


    .contacts_info .phones .val a
    {
        font-size: 22px;
    }



    .contacts_info .info
    {
        margin-top: var(--block_padding_xl);

        gap: var(--inner_gap_l);
    }


    .contacts_info .info .address,
    .contacts_info .info .work_time
    {
        width: 100%;
    }



    .contacts_info .write_to_us
    {
        margin-top: var(--block_padding_xl);

        gap: var(--block_padding_xl);
    }


    .contacts_info .write_to_us .title
    {
        gap: var(--inner_gap);
    }


    .contacts_info .write_to_us .grid_row
    {
        --items_per_line: 1;
    }



    /*--------------
        Articles
    --------------*/
    .articles .list .article .thumb,
    .articles .list .article .info
    {
        width: 100%;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .anchors .btn
    {
        text-decoration: underline;

        border-bottom: none;

        text-decoration-thickness: 1px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe
    {
        width: 100%;

        font-size: var(--font_size);
    }



    /*--------------
        Projects
    --------------*/
    .projects .grid_row
    {
        --items_per_line: 1;
    }



    /*------------------
        Project info
    ------------------*/
    .project_info .grid_row
    {
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
        --items_per_line: 2;
    }



    /*-----------
        Certs
    -----------*/
    .certs .grid_row
    {
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
        --items_per_line: 2;
    }


    .certs .grid_row .item
    {
        padding: var(--inner_gap_xs);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .review .date
    {
        width: 100%;
        margin-top: var(--inner_gap_xxs);
    }


    .reviews .review .author + .date
    {
        margin-top: 0;
        padding-left: calc(60px + var(--inner_gap_s));
    }



    /*------------
        Stocks
    ------------*/
    .stocks .grid_row
    {
        --gap_y: var(--block_padding_xl);
        --items_per_line: 1;
    }



    /*----------------
        Stock info
    ----------------*/
    .stock_info .social
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        order: 2;

        padding-block: var(--inner_gap_s);

        gap: var(--inner_gap_s);
    }


    .stock_info .link a
    {
        width: 100%;
    }



    /*------------------
        Compare info
    -----------------*/
    .compare_info .col_left
    {
        width: 100%;
        margin-bottom: var(--inner_gap_s);
    }


    .compare_info .col_main
    {
        width: 100%;
    }



    .compare_info .swiper-controls,
    .compare_info .compare_labels
    {
        display: none;
    }



    .compare_info .products .product .btns .icon
    {
        width: 14px;
    }



    .compare_info .compare_vals
    {
        margin-top: var(--inner_gap_l);

        font-size: var(--font_size_s);
    }


    .compare_info .compare_vals > *
    {
        padding-block: var(--inner_gap_xxs);
    }


    .compare_info .compare_vals > *:before
    {
        position: relative;

        display: block;

        width: 100%;
        margin-bottom: var(--inner_gap_xxs);

        font-size: var(--font_size_xs);

        content: attr(data-column);

        opacity: .5;
    }



    /*-----------------
        Brands info
    -----------------*/
    .brands_info .alphabet a
    {
        min-width: 43px;

        font-size: var(--font_size_s);
    }



    .brands_info .filter .grid_row
    {
        --items_per_line: 1;
    }



    .brands_info .data .grid_row
    {
        --items_per_line: 1;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .share_btn
    {
        width: 100%;
    }



    /*-------------------
        Cart products
    -------------------*/
    .cart_products .product
    {
        position: relative;

        padding-block: var(--inner_gap_m);
    }


    .cart_products .product_check
    {
        position: absolute;
        top: 0;
        left: 0;

        z-index: 3;
    }


    .cart_products .info
    {
        width: calc(100% - 100px - var(--inner_gap_m));
    }


    .cart_products .options
    {
        padding-left: calc(100px + var(--inner_gap_m));
    }


    .cart_products .amount
    {
        margin-left: calc(100px + var(--inner_gap_m));
    }


    .cart_products .total_price
    {
        width: auto;
    }


    .cart_products .btns
    {
        position: absolute;
        top: 0;
        right: 0;

        z-index: 3;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .payment_methods
    {
        --items_per_line: 2;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info .lk_menu
    {
        justify-content: space-between;
    }



    /*-----------------------
        LK info - Profile
    -----------------------*/
    .lk_info .profile .type
    {
        padding-bottom: 0;

        gap: var(--inner_gap_xs);
    }


    .lk_info .profile .submit.grid_row
    {
        --items_per_line: 1;
    }



    /*------------
        Orders
    ------------*/
    .orders .filter
    {
        margin-left: 0;

        gap: var(--inner_gap_xs);
    }


    .orders .filter .item
    {
        width: 100%;
        margin-left: 0;
    }


    .orders .filter .period label input:checked + div
    {
        padding-inline: var(--inner_gap_s);
    }



    .orders .order .status
    {
        min-width: 180px;
    }


    .orders .order .products_info
    {
        width: 100%;
    }


    .orders .order .delivery_payment
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }


    .orders .order .delivery_payment .sep
    {
        display: none;
    }


    .orders .order .product
    {
        width: 72px;
    }


    .orders .order .product:nth-child(3) ~ .product
    {
        display: none;
    }



    .orders .bottom_controls .limit
    {
        justify-content: center;

        width: 100%;
    }


    .orders .bottom_controls .pagination
    {
        width: 100%;
    }



    /*----------------
        Order info
    ----------------*/
    .order_info .head .status
    {
        width: 100%;
        min-width: 160px;

        font-size: var(--font_size);
    }


    .order_info .head .number,
    .order_info .head .date
    {
        font-size: var(--font_size_l);
    }



    .order_info .cart_products .product
    {
        padding-block: var(--inner_gap_xs);
    }


    .order_info .cart_products .product .info
    {
        width: calc(100% - 120px);
        margin-bottom: var(--inner_gap_xs);
    }


    .order_info .cart_products .options
    {
        padding-left: 0;
    }


    .order_info .cart_products .total_price
    {
        width: auto;
        margin-left: auto;
    }


    .order_info .cart_products .options .checkbox
    {
        font-size: var(--font_size_s);
    }



    /*----------------
        About head
    ----------------*/
    .about_head .data
    {
        min-height: 160px;
        padding: var(--inner_gap);
    }


    .about_head .title
    {
        width: 200px;

        font-size: var(--font_size_title_s);
    }



    /*------------
        Why we
    ------------*/
    .why_we .grid_row
    {
        --items_per_line: 1;
    }



    /*-------------
        Founder
    -------------*/
    .founder .data
    {
        min-height: 440px;
        padding: var(--inner_gap);
    }


    .founder .title
    {
        font-size: var(--font_size_title);
    }


    .founder .desc
    {
        padding: 0;
    }


    .founder .author
    {
        padding-block: 40px 72px;
        padding-right: 152px;

        line-height: calc(100% + 4px);
    }


    .founder .photo
    {
        right: -20px;

        width: 200px;
    }



    /*---------------------
        Filter selected
    ---------------------*/
    .filter_selected
    {
        display: none;
    }


    .filter_selected .btn
    {
        padding-block: 4px;
        padding-inline: var(--inner_gap_xs) 4px;

        font-size: var(--font_size_xs);

        gap: 4px;
    }


    .filter_selected .btn .delete
    {
        width: 16px;
    }


    .filter_selected .reset_btn
    {
        height: 24px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .col_left,
    .product_info .col_center
    {
        width: 100%;
    }


    .product_info aside
    {
        position: relative;
    }



    .product_info .btns .icon
    {
        width: 20px;
    }



    .product_info .images .thumbs
    {
        padding-inline: 40px;
    }


    .product_info .images .thumbs .swiper-button-next,
    .product_info .images .thumbs .swiper-button-prev
    {
        --swiper-navigation-sides-offset: -40px;
    }



    /*------------------
        Product data
    ------------------*/
    .product_info .brand .info .name
    {
        width: calc(100% - 82px);
    }



    .product_data .features .grid_row
    {
        --gap_y: 0;
        --items_per_line: 1;
    }



    .product_data .payment_methods .grid_row
    {
        --items_per_line: 1;
        --gap_y: var(--inner_gap_xs);
    }


    .product_data .payment_methods .method
    {
        padding: var(--inner_gap_s);
    }



    .product_data .delivery_methods .grid_row
    {
        --items_per_line: 1;
        --gap_y: var(--inner_gap_s);
    }


    .product_data .delivery_methods .method .desc
    {
        height: auto !important;
    }


    .product_data .delivery_methods .method .desc br
    {
        display: none;
    }



    .product_data .steps .grid_row
    {
        --items_per_line: 1;
    }



    .product_data .install .items .label
    {
        line-height: calc(100% + 7px);
    }



    /*-----------
        Files
    -----------*/
    .files .file .name
    {
        width: 100%;
    }



    /*------------
        Footer
    ------------*/
    footer .contacts,
    footer .location
    {
        width: 100%;
    }


    footer .menu
    {
        width: 100%;
        margin-bottom: var(--inner_gap);

        font-size: var(--font_size_s);
    }



    footer .data .links_wrap
    {
        width: 100%;

        gap: var(--inner_gap);
    }


    footer .data .links
    {
        width: 100%;
        padding-bottom: var(--inner_gap_xs);

        border-bottom: 1px solid var(--bg_grey_strong);
    }


    footer .data .links .title
    {
        pointer-events: auto;
    }


    footer .data .links .title .icon
    {
        display: block;
    }


    footer .data .links .items
    {
        display: none;

        padding-bottom: var(--inner_gap_xxs);

        font-size: var(--font_size_s);
    }


    footer .data .links .items > * + *
    {
        margin-top: var(--inner_gap_s);
    }



    footer .col_main .row
    {
        gap: var(--inner_gap);
    }



    footer .callback_btn,
    footer .hiref_link
    {
        width: 100%;
    }



    footer .messengers
    {
        justify-content: center;

        width: 100%;
    }



    footer .copyright
    {
        width: 100%;

        text-align: center;
    }



    footer .bottom .links
    {
        align-content: center;
        align-items: center;

        width: 100%;
        margin-top: var(--inner_gap);

        text-align: center;

        gap: var(--inner_gap_xxs);
    }


    footer .creator
    {
        width: 100%;
        margin-top: var(--inner_gap);

        text-align: center;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding-inline: var(--inner_gap);
    }



    /*------------------
        PopUp - City
    ------------------*/
    #city_modal .head,
    #city_modal .data
    {
        padding: var(--inner_gap);
    }


    #city_modal .data
    {
        font-size: var(--font_size_s);

        letter-spacing: .14px;
    }


    #city_modal .data .grid_row
    {
        --items_per_line: 2;
    }



    /*----------------------------
        PopUp - Pick up points
    ----------------------------*/
    #pick_up_points_modal .list
    {
        order: 3;

        width: 100%;
        max-height: 320px;
    }


    #pick_up_points_modal .map
    {
        width: 100%;
        height: 320px;
    }



    /*-----------------------
        PopUp - Quike buy
    -----------------------*/
    #quike_buy_modal .product
    {
        margin-top: var(--inner_gap);
    }


    #quike_buy_modal .product .thumb
    {
        width: 80px;
        height: 80px;
    }


    #quike_buy_modal .product .thumb + *
    {
        width: calc(100% - 80px - var(--inner_gap_m));

        gap: var(--inner_gap_xxs);
    }


    #quike_buy_modal .product .name
    {
        font-size: var(--font_size);
    }
}
