@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --cont_padding: 20px;
        --inner_gap_l: 24px;
        --inner_gap: 20px;
        --font_size_title_l: 32px;
        --font_size_title: 28px;
        --font_size_title_s: 20px;
        --block_head_offset_l: 32px;
        --block_head_offset: 28px;
        --outside_gap: 60px;
    }


    .wrap .bg_wave
    {
        top: 0;
    }



    /*--------------
        Fancybox
    --------------*/
    .f-button.is-close-button
    {
        top: var(--inner_gap_xxs);
        right: var(--inner_gap_xxs);
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding-block: var(--inner_gap_xxs);
    }


    .accordion_item .head .title
    {
        font-size: var(--font_size);
    }


    .accordion_item .head .icon
    {
        width: 32px;
        min-width: 32px;
    }


    .accordion_item .data
    {
        padding-bottom: var(--inner_gap_xxs);
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination a.first,
    .pagination a.last
    {
        display: none;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        margin-bottom: 0;
        padding-block: var(--inner_gap_xs);

        border: none;
    }


    .mob_header .logo
    {
        font-size: calc(var(--font_size_xs) - 1px);
    }


    .mob_header .logo img
    {
        width: 166px;
        height: 17px;
    }


    .mob_header .search
    {
        margin-top: var(--inner_gap_xs);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *
    {
        width: calc(100% - var(--form_columns_gap));
    }


    .form .contacts_method .grid_row
    {
        --items_per_line: 2;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: var(--block_head_offset_l);
    }


    .breadcrumbs
    {
        font-size: var(--font_size_xs);
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        margin-bottom: var(--block_padding_xl);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: calc(100% + 6px);
    }


    .text_block .video_link .icon
    {
        width: 72px;

        border-width: 4px;
    }


    .text_block .video_link .icon svg
    {
        width: 24px;
        height: 25px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .main_slider
    {
        width: 100%;
    }


    .first_section .main_slider .swiper-slide
    {
        height: 268px;
        padding-inline: var(--block_padding_xl);

        text-align: center;
    }


    .first_section .main_slider .info
    {
        align-content: center;
        align-items: center;
    }



    .first_section .promotions
    {
        width: 100%;
    }


    .first_section .promotions .link
    {
        padding-block: var(--inner_gap) 60px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .grid_row
    {
        --items_per_line: 1;
    }



    /*--------------
        Products
    --------------*/
    .products .swiper-slide
    {
        visibility: visible;

        width: 240px;

        pointer-events: auto;

        opacity: 1;
    }


    .products .swiper-button-next,
    .products .swiper-button-prev
    {
        display: none;
    }



    .products .list .product .thumb
    {
        width: 116px;
        margin-inline: auto;
    }


    .products .list .product .name
    {
        width: 100%;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .grid
    {
        grid-template-columns: 1fr;
    }


    .catalog .category:nth-child(1)
    {
        padding-top: 200px;

        grid-row: auto;
    }


    .catalog .category:nth-child(1) .thumb
    {
        width: 315px;
    }


    .catalog .category:nth-child(2)
    {
        height: auto;

        grid-column: auto;
    }


    .catalog .category .thumb
    {
        width: 104px;
    }



    /*------------
        Brands
    ------------*/
    .brands .swiper
    {
        padding-bottom: 0;
    }


    .brands .swiper-slide
    {
        width: 240px;

        transform: scale(1);
    }


    .brands .swiper-button-next,
    .brands .swiper-button-prev
    {
        display: none;
    }



    /*-------------
        Banners
    -------------*/
    .banners .banner
    {
        min-height: 232px;
        padding: var(--inner_gap);
    }


    .banners .banner .desc
    {
        width: 200px;

        font-size: var(--font_size);
    }


    .banners .banner .desc br
    {
        display: none;
    }



    /*-------------------
        Photo gallery
    -------------------*/
    .photo_gallery .swiper-slide
    {
        width: 240px;

        opacity: 1;
    }



    /*--------------
        Articles
    --------------*/
    .articles .swiper-button-next,
    .articles .swiper-button-prev
    {
        display: none;
    }



    /*-----------
        Certs
    -----------*/
    .certs .swiper-button-next,
    .certs .swiper-button-prev
    {
        display: none;
    }


    .certs .thumb img
    {
        height: 200px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .swiper-button-next,
    .reviews .swiper-button-prev
    {
        display: none;
    }


    .reviews .swiper-slide
    {
        visibility: visible;

        width: 320px;

        pointer-events: auto;

        opacity: 1;
    }



    /*------------------
        Payment info
    ------------------*/
    .payment_info .method .grid_row
    {
        --items_per_line: 1;
    }



    /*-------------------
        Delivery info
    -------------------*/
    .delivery_info .method .name
    {
        width: 100%;
        max-width: 100%;
    }


    .delivery_info .method .options
    {
        gap: var(--inner_gap_xs);
    }


    .delivery_info .method .options > *
    {
        width: 100%;
    }



    .delivery_info .additional table th + th,
    .delivery_info .additional table td + td
    {
        padding-left: var(--inner_gap_m);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .phones .grid_row
    {
        --items_per_line: 1;
    }


    .contacts_info .phones .val a
    {
        font-size: 22px;
    }



    .contacts_info .info
    {
        margin-top: var(--block_padding_xl);

        gap: var(--inner_gap_l);
    }


    .contacts_info .info .address,
    .contacts_info .info .work_time
    {
        width: 100%;
    }



    .contacts_info .write_to_us
    {
        margin-top: var(--block_padding_xl);

        gap: var(--block_padding_xl);
    }


    .contacts_info .write_to_us .title
    {
        gap: var(--inner_gap);
    }


    .contacts_info .write_to_us .grid_row
    {
        --items_per_line: 1;
    }



    /*--------------
        Articles
    --------------*/
    .articles .list .article .thumb,
    .articles .list .article .info
    {
        width: 100%;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .anchors .btn
    {
        text-decoration: underline;

        border-bottom: none;

        text-decoration-thickness: 1px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe
    {
        width: 100%;

        font-size: var(--font_size);
    }



    /*--------------
        Projects
    --------------*/
    .projects .grid_row
    {
        --items_per_line: 1;
    }



    /*------------------
        Project info
    ------------------*/
    .project_info .grid_row
    {
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
        --items_per_line: 2;
    }



    /*-----------
        Certs
    -----------*/
    .certs .grid_row
    {
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
        --items_per_line: 2;
    }


    .certs .grid_row .item
    {
        padding: var(--inner_gap_xs);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .review .date
    {
        width: 100%;
        margin-top: var(--inner_gap_xxs);
    }


    .reviews .review .author + .date
    {
        margin-top: 0;
        padding-left: calc(60px + var(--inner_gap_s));
    }



    /*------------
        Stocks
    ------------*/
    .stocks .grid_row
    {
        --gap_y: var(--block_padding_xl);
        --items_per_line: 1;
    }



    /*----------------
        Stock info
    ----------------*/
    .stock_info .social
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        order: 2;

        padding-block: var(--inner_gap_s);

        gap: var(--inner_gap_s);
    }


    .stock_info .link a
    {
        width: 100%;
    }



    /*------------
        Footer
    ------------*/
    footer .contacts,
    footer .location
    {
        width: 100%;
    }


    footer .menu
    {
        width: 100%;
        margin-bottom: var(--inner_gap);

        font-size: var(--font_size_s);
    }



    footer .data .links_wrap
    {
        width: 100%;

        gap: var(--inner_gap);
    }


    footer .data .links
    {
        width: 100%;
        padding-bottom: var(--inner_gap_xs);

        border-bottom: 1px solid var(--bg_grey_strong);
    }


    footer .data .links .title
    {
        pointer-events: auto;
    }


    footer .data .links .title .icon
    {
        display: block;
    }


    footer .data .links .items
    {
        display: none;

        padding-bottom: var(--inner_gap_xxs);

        font-size: var(--font_size_s);
    }


    footer .data .links .items > * + *
    {
        margin-top: var(--inner_gap_s);
    }



    footer .col_main .row
    {
        gap: var(--inner_gap);
    }



    footer .callback_btn,
    footer .hiref_link
    {
        width: 100%;
    }



    footer .messengers
    {
        justify-content: center;

        width: 100%;
    }



    footer .copyright
    {
        width: 100%;

        text-align: center;
    }



    footer .bottom .links
    {
        align-content: center;
        align-items: center;

        width: 100%;
        margin-top: var(--inner_gap);

        text-align: center;

        gap: var(--inner_gap_xxs);
    }


    footer .creator
    {
        width: 100%;
        margin-top: var(--inner_gap);

        text-align: center;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding-inline: var(--inner_gap);
    }



    /*------------------
        PopUp - City
    ------------------*/
    #city_modal .head,
    #city_modal .data
    {
        padding: var(--inner_gap);
    }


    #city_modal .data
    {
        font-size: var(--font_size_s);

        letter-spacing: .14px;
    }


    #city_modal .data .grid_row
    {
        --items_per_line: 2;
    }



    /*----------------------------
        PopUp - Pick up points
    ----------------------------*/
    #pick_up_points_modal .list
    {
        order: 3;

        width: 100%;
        max-height: 320px;
    }


    #pick_up_points_modal .map
    {
        width: 100%;
        height: 320px;
    }
}
