@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 248px;
        --custom_scroll_width: 5px;
        --custom_scroll_height: 5px;
        --font_size_xl: 20px;
        --font_size_title_l: 36px;
        --font_size_title: 30px;
        --font_size_title_s: 22px;
        --block_head_offset_l: 40px;
        --block_head_offset: 28px;
        --outside_gap: 68px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        display: grid;
        overflow: auto;
        justify-content: flex-start;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0 var(--inner_gap);
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xs);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .tabs::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .tabs::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .tabs .btn
    {
        margin: 0;

        scroll-snap-align: start;
    }



    /*------------
        Header
    ------------*/
    header
    {
        display: none;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .social .likes
    {
        gap: var(--inner_gap);
    }


    aside .social .share
    {
        gap: var(--inner_gap_xs);
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .banner
    {
        padding-inline: 60px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .main_slider
    {
        width: calc(100% - 360px);
    }


    .first_section .main_slider .swiper-slide
    {
        padding-inline: 80px;
    }



    .first_section .promotions
    {
        width: 352px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .bg
    {
        top: -672px;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .grid
    {
        grid-template-columns: 400px 1fr 1fr;
    }


    .catalog .category:nth-child(1) > .sub
    {
        margin-top: 0;

        column-count: 1;
    }


    .catalog .category:nth-child(2)
    {
        height: 160px;
    }


    .catalog .category:nth-child(2) .name
    {
        width: 148px;
    }


    .catalog .category:nth-child(2) > .sub
    {
        column-width: auto;
    }


    .catalog .category .thumb
    {
        right: var(--inner_gap_xs);

        width: 80px;
    }



    /*-------------
        Banners
    -------------*/
    .banners .banner
    {
        min-height: 260px;
        padding: var(--inner_gap);

        gap: var(--inner_gap);
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .item
    {
        min-height: 368px;
    }


    .benefits .item .desc
    {
        line-height: calc(100% + 4px);
    }


    .benefits .item .desc br
    {
        display: none;
    }


    .benefits .item .image
    {
        height: 240px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .articles .article .info
    {
        padding-block: 0 var(--inner_gap_s);
        padding-inline: var(--inner_gap_s);
    }



    /*--------------
        SEO text
    --------------*/
    .seo_text .block_head
    {
        width: 248px;
    }


    .seo_text .text_block
    {
        width: calc(100% - 248px - var(--inner_gap));
    }



    /*--------------------
        Privacy policy
    --------------------*/
    .privacy_policy .text_block
    {
        width: 100%;
    }



    /*--------------------
        FAQ categories
    --------------------*/
    .faq_categories
    {
        display: grid;
        overflow: auto;

        gap: var(--inner_gap_xs);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--inner_gap_xs);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .faq_categories::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .faq_categories::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .faq_categories > *
    {
        scroll-snap-align: start;
    }



    /*---------------------
        Guarantees info
    ---------------------*/
    .guarantees_info .content
    {
        gap: var(--block_padding_xl);
    }


    .guarantees_info .data,
    .guarantees_info .col
    {
        width: 100%;
    }


    .guarantees_info .add_question
    {
        text-align: center;
    }



    /*------------------
        Payment info
    ------------------*/
    .payment_info .method .grid_row
    {
        --items_per_line: 2;
    }



    /*-------------------
        Delivery info
    -------------------*/
    .delivery_info .content
    {
        gap: var(--block_padding_xl);
    }


    .delivery_info .data,
    .delivery_info .col
    {
        width: 100%;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .phones .grid_row
    {
        --items_per_line: 3;
    }


    .contacts_info .phones .val a
    {
        font-size: 21px;
    }



    .contacts_info .info .address
    {
        width: calc(100% - 308px);
    }


    .contacts_info .info .val
    {
        font-size: var(--font_size_l);
    }


    .contacts_info .info .work_time
    {
        width: 260px;
    }



    .contacts_info .map
    {
        height: 320px;
    }



    .contacts_info .write_to_us
    {
        gap: var(--inner_gap_l);
    }


    .contacts_info .write_to_us .title
    {
        gap: 40px;
    }


    .contacts_info .write_to_us .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .contacts_info .write_to_us .item .email
    {
        font-size: var(--font_size);
    }



    .contacts_info .pick_up_points .map
    {
        height: 440px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info
    {
        --sidebar_width: 300px;
    }


    .article_info .content
    {
        width: calc(100% - var(--sidebar_width) - 40px);
    }


    .article_info .anchors
    {
        padding-block: var(--inner_gap);
    }



    /*---------------------
        Products filter
    ---------------------*/
    .products_filter .item .name span
    {
        width: calc(100% - 20px - var(--inner_gap_xxs));
    }


    .products_filter .item .name .icon
    {
        width: 20px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head .view
    {
        display: none;
    }



    /*--------------
        Products
    --------------*/
    .products .grid_row
    {
        --items_per_line: 4;
    }



    .products .list .product .thumb
    {
        width: 108px;
    }


    .products .list .product .name
    {
        width: calc(100% - 364px);
    }


    .products .list .product .buy_btn
    {
        width: 112px;
    }



    .content .products .grid_row
    {
        --items_per_line: 3;
    }


    .content .products .product .buy_btn
    {
        padding-inline: var(--inner_gap_s);
    }



    /*--------------
        Projects
    --------------*/
    .projects .grid_row
    {
        --items_per_line: 2;
    }



    /*-----------
        Certs
    -----------*/
    .certs .grid_row
    {
        --items_per_line: 3;
    }



    /*----------------
        Stock info
    ----------------*/
    .stock_info .image
    {
        width: 400px;
    }


    .stock_info .data
    {
        width: calc(100% - 400px - var(--inner_gap));
        min-height: 0;

        gap: var(--inner_gap);
    }


    .stock_info .share
    {
        gap: var(--inner_gap_xs);
    }


    .stock_info .likes
    {
        gap: var(--inner_gap_s);
    }



    /*---------------
        Favorites
    ---------------*/
    .favorites .categories
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-inline: calc(var(--cont_padding) * -1);
        padding-block: var(--inner_gap_xxs);
        padding-inline: var(--cont_padding);

        border-radius: 0;

        gap: var(--inner_gap_xs);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .favorites .categories::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .favorites .categories::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .favorites .categories > *
    {
        scroll-snap-align: start;
    }



    /*------------------
        Compare info
    -----------------*/
    .compare_info .categories
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-inline: calc(var(--cont_padding) * -1);
        padding-block: var(--inner_gap_xxs);
        padding-inline: var(--cont_padding);

        border-radius: 0;

        gap: var(--inner_gap_xs);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .compare_info .categories::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .compare_info .categories::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .compare_info .categories > *
    {
        scroll-snap-align: start;
    }



    /*--------------------
        Order products
    --------------------*/
    .order_products .grid_row
    {
        --items_per_line: 7;
    }



    /*-----------------
        Brands info
    -----------------*/
    .brands_info .filter .grid_row
    {
        --items_per_line: 3;
    }


    .brands_info .data .items > *
    {
        width: 145px;
    }


    .brands_info .data .items a
    {
        padding-block: var(--inner_gap_xxs);
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .col_main
    {
        width: 100%;
    }


    .cart_info .col_right
    {
        width: 100%;
        margin-top: var(--inner_gap_s);
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .section + .section
    {
        padding-block: var(--inner_gap_l) 0;
    }



    /*------------
        Orders
    ------------*/
    .orders .order .delivery_payment
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }


    .orders .order .delivery_payment .sep
    {
        display: none;
    }


    .orders .order .product
    {
        width: 88px;

        gap: 4px;
    }



    /*----------------
        Order info
    ----------------*/
    .order_info .col_left
    {
        width: 340px;
    }


    .order_info .col_main
    {
        width: calc(100% - 340px - var(--inner_gap));
    }


    .order_info .cart_products .product .info
    {
        width: calc(100% - 344px);
    }


    .order_info .cart_products .total_price
    {
        width: 120px;
    }


    .order_info .cart_products .options
    {
        margin-top: var(--inner_gap_xxs);
    }



    /*----------------
        About head
    ----------------*/
    .about_head .data
    {
        min-height: 200px;
        padding: var(--block_padding_xl);
    }


    .about_head .title
    {
        width: 472px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .block_head .title,
    .why_we .block_head .desc
    {
        width: 100%;
    }


    .why_we .grid_row
    {
        --items_per_line: 2;
    }


    .why_we .item:nth-child(3)
    {
        background: var(--bg_grey);
    }

    .why_we .item:nth-child(4)
    {
        background: #eaf1fa;
    }


    .why_we .bg
    {
        display: none;
    }



    /*-------------
        Founder
    -------------*/
    .founder .data
    {
        min-height: 360px;
        padding: var(--block_padding_xl);
    }


    .founder .info
    {
        width: calc(100% - 284px);
    }


    .founder .desc
    {
        font-size: var(--font_size);
        line-height: calc(100% + 7px);
    }


    .founder .photo
    {
        right: 0;

        width: 340px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        --sidebar_width: 300px;
    }


    .product_info .col_left
    {
        width: 360px;
    }


    .product_info .col_center
    {
        width: calc(100% - 360px - var(--inner_gap));
    }



    .product_info .brand .info .name
    {
        width: 100%;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .tabs
    {
        width: 100%;
        margin-inline: 0;
    }



    .product_data .features .spoler_btn
    {
        margin-top: var(--inner_gap);
    }



    .product_data .payment_methods .grid_row
    {
        --items_per_line: 2;
    }


    .product_data .steps .grid_row
    {
        --items_per_line: 2;
    }



    /*------------
        Footer
    ------------*/
    footer .col
    {
        width: 280px;
    }



    footer .contacts .phone
    {
        font-size: 25px;
    }



    footer .col_main
    {
        width: calc(100% - 340px);
    }



    footer .data .links_wrap
    {
        width: auto;
    }



    footer .messengers
    {
        gap: var(--inner_gap_xxs);
    }


    footer .messengers .icon + *
    {
        display: none;
    }



    footer .copyright
    {
        width: 380px;
    }


    footer .copyright br
    {
        display: none;
    }



    footer .bottom .links
    {
        flex-direction: column;

        gap: 0;
    }
}
