@media print,
(max-width: 1439px)
{
    /*----------
        Tabs
    ----------*/
    .tabs
    {
        gap: var(--inner_gap_xxs);
    }



    /*------------
        Header
    ------------*/
    header .top
    {
        padding-block: var(--inner_gap_xs);
    }


    header .data
    {
        padding-block: var(--inner_gap_s);
    }



    header .contacts
    {
        gap: var(--inner_gap_xs);
    }


    header .callback_btn
    {
        padding-inline: var(--inner_gap_s);
    }


    header .account .btn
    {
        padding-inline: var(--inner_gap_xs);
    }


    header .search
    {
        width: calc(100% - 958px);
    }


    header .catalog_modal .mini_modal_btn
    {
        padding-inline: var(--inner_gap_s);
    }


    header .catalog_modal .grid
    {
        grid-template-columns: 1fr 1fr 1fr 360px;
    }


    header .catalog_modal .promotion .product .price .current
    {
        font-size: 26px;
    }


    header .catalog_modal .promotion .product .thumb
    {
        width: 140px;

        border-radius: 16px;
    }


    header .catalog_modal .banner
    {
        padding: var(--block_padding_xl);
    }


    header .icon_links .link
    {
        padding: var(--inner_gap_xxs);
    }


    header .categories
    {
        width: calc(100% - 360px - var(--inner_gap_xxs));
        min-height: 60px;
        padding-inline: var(--inner_gap_s) 40px;
    }


    header .industrial
    {
        width: 360px;
    }


    header .industrial .btn
    {
        height: 60px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        gap: var(--inner_gap);
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        gap: var(--inner_gap_s);
    }


    .block_head a.title
    {
        gap: var(--inner_gap);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        gap: var(--inner_gap_xxs);
    }



    .first_section .main_slider
    {
        width: calc(100% - 368px);
    }


    .first_section .main_slider .swiper-slide
    {
        height: 268px;
        padding-inline: 100px;
    }


    .first_section .main_slider .info
    {
        width: 300px;
    }



    .first_section .promotions
    {
        width: 360px;
    }


    .first_section .promotions .link
    {
        min-height: 268px;
        padding-block: var(--inner_gap) 72px;
    }


    .first_section .promotions .product .price .current
    {
        font-size: 26px;
    }


    .first_section .promotions .product .thumb
    {
        width: 140px;

        border-radius: 16px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item
    {
        min-height: 152px;
    }


    .advantages .item .head
    {
        --icon_size: 40px;
    }



    /*--------------
        Products
    --------------*/
    .products .product .top
    {
        margin-bottom: var(--inner_gap_xs);
    }


    .products .product .features
    {
        gap: 4px;
    }


    .products .product .features > *
    {
        padding-bottom: 4px;
    }


    .products .product .buy_btn
    {
        padding-inline: var(--inner_gap);
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .grid
    {
        grid-template-columns: 500px 1fr 1fr;
    }


    .catalog .category:nth-child(2) > .sub
    {
        column-width: 168px;
    }


    .catalog .category .icon
    {
        width: 52px;
    }



    /*------------
        Brands
    ------------*/
    .brands .swiper
    {
        padding-bottom: 72px;
    }



    /*-------------
        Banners
    -------------*/
    .banners .banner
    {
        min-height: 300px;
    }


    .banners .banner .desc
    {
        width: 260px;
    }


    .banners .banner .btn
    {
        height: 40px;
        padding-inline: var(--inner_gap_s);
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .item
    {
        min-height: 420px;
    }


    .benefits .item .image
    {
        height: 300px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .grid_row
    {
        --gap_x: var(--block_padding_l);
        --gap_y: var(--block_padding_l);
    }


    .articles .article
    {
        padding: var(--inner_gap_xxs);

        gap: var(--inner_gap);
    }


    .articles .article .name,
    .articles .article .desc
    {
        width: 312px;
    }


    .articles .article .link
    {
        height: 40px;
        padding-inline: var(--inner_gap_s);
    }



    /*--------------
        SEO text
    --------------*/
    .seo_text .block_head
    {
        width: 300px;
    }


    .seo_text .block_head .btn
    {
        height: 40px;
        padding-inline: var(--inner_gap_s);
    }


    .seo_text .text_block
    {
        width: calc(100% - 300px - var(--inner_gap));
    }



    /*---------------------
        Guarantees info
    ---------------------*/
    .guarantees_info .data
    {
        width: calc(100% - 280px - var(--inner_gap_m));
    }


    .guarantees_info .col
    {
        width: 280px;
    }


    .guarantees_info .important,
    .guarantees_info .add_question
    {
        font-size: var(--font_size);
    }



    /*-------------------
        Delivery info
    -------------------*/
    .delivery_info .data
    {
        width: calc(100% - 340px - var(--inner_gap_m));
    }


    .delivery_info .col
    {
        width: 340px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .phones
    {
        padding: var(--inner_gap);
    }


    .contacts_info .phones .val a
    {
        font-size: 22px;
    }



    .contacts_info .info
    {
        margin-top: 48px;
    }


    .contacts_info .info .address
    {
        width: calc(100% - 492px);
    }



    .contacts_info .map
    {
        height: 360px;
    }


    .contacts_info .write_to_us
    {
        margin-top: 48px;

        gap: 40px;
    }



    .contacts_info .pick_up_points .map
    {
        height: 480px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info
    {
        --sidebar_width: 360px;
    }


    .article_info .content
    {
        width: calc(100% - var(--sidebar_width) - 60px);
    }



    /*--------------
        Projects
    --------------*/
    .projects .item
    {
        padding-block: var(--inner_gap_m) var(--inner_gap);

        font-size: var(--font_size);

        gap: var(--inner_gap_m);
    }



    /*------------------
        Project info
    ------------------*/
    .project_info
    {
        padding-block: var(--inner_gap_m) var(--inner_gap);
        padding-inline: var(--inner_gap);
    }



    /*-----------
        Certs
    -----------*/
    .certs .item
    {
        font-size: var(--font_size);
    }


    .certs .grid_row .item
    {
        padding: var(--inner_gap_s);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .list .review
    {
        padding-inline: var(--inner_gap);
    }



    /*------------
        Stocks
    ------------*/
    .stocks .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap_l);
    }


    .stocks .stock
    {
        gap: var(--inner_gap_m);
    }


    .stocks .stock .name
    {
        width: 360px;

        font-size: var(--font_size_xl);
    }



    /*---------------
        Favorites
    ---------------*/
    .favorites .categories a
    {
        padding-block: var(--inner_gap_xxs);

        font-size: var(--font_size);
    }



    .favorites .empty
    {
        padding: var(--inner_gap_l);
    }


    .favorites .empty .desc
    {
        font-size: var(--font_size);
    }



    /*------------------
        Compare info
    -----------------*/
    .compare_info .categories a
    {
        padding-block: var(--inner_gap_xxs);

        font-size: var(--font_size);
    }



    .compare_info .col_left
    {
        width: 220px;
    }


    .compare_info .col_main
    {
        width: calc(100% - 220px - var(--inner_gap));
    }



    .compare_info .compare_vals
    {
        margin-top: 60px;
    }



    .compare_info .empty
    {
        padding: var(--inner_gap_l);
    }


    .compare_info .empty .desc
    {
        font-size: var(--font_size);
    }



    /*-------------------
        Order success
    -------------------*/
    .order_success .data
    {
        padding: var(--inner_gap_l);
    }



    /*-----------------
        Brands info
    -----------------*/
    .brands_info .alphabet a
    {
        min-width: 40px;
        padding: var(--inner_gap_xxs);

        font-size: var(--font_size);
    }



    .brands_info .filter .grid_row
    {
        --items_per_line: 4;
    }



    .brands_info .data .item
    {
        padding-block: 0;
    }


    .brands_info .data .letter
    {
        padding-block: var(--inner_gap_xxs);

        font-size: calc(var(--font_size_title_s) - 2px);
    }


    .brands_info .data .items
    {
        padding-block: var(--inner_gap_s);

        font-size: var(--font_size);
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .col_main
    {
        width: calc(100% - 360px - var(--inner_gap));
    }


    .cart_info .col_right
    {
        width: 360px;
    }



    /*------------
        Footer
    ------------*/
    footer .bottom
    {
        padding-block: var(--inner_gap_s);
    }



    footer .col
    {
        width: 320px;
    }



    footer .contacts .phone
    {
        font-size: 28px;
    }



    footer .col_main
    {
        width: calc(100% - 400px);
    }



    footer .callback_btn
    {
        height: 40px;
        padding-inline: var(--inner_gap_s);
    }



    footer .hiref_link
    {
        height: 40px;
        padding-inline: var(--inner_gap_s);
    }



    footer .copyright
    {
        width: 508px;
    }



    footer .bottom .links
    {
        gap: var(--inner_gap);
    }
}
