@media print,
(max-width: 1023px)
{
    :root
    {
        --sidebar_width: 100%;
    }


    .content_flex .content
    {
        width: 100%;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination a.first
    {
        margin-right: var(--inner_gap);
    }

    .pagination a.last
    {
        margin-left: var(--inner_gap);
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        margin-bottom: var(--inner_gap_l);

        gap: var(--block_padding_l);
    }


    .content + aside
    {
        margin-top: var(--inner_gap_l);
        margin-bottom: var(--inner_gap_l);
    }



    aside .mob_links
    {
        display: block;
    }


    aside .mob_links .links
    {
        display: flex;
    }



    aside .links
    {
        display: none;

        gap: var(--inner_gap_s);
    }


    aside .links .items
    {
        font-size: var(--font_size);

        gap: var(--inner_gap_xs);
    }



    /*---------------
        Page head
    ---------------*/
    .page_title
    {
        width: 100%;
    }


    .page_head .help_btn
    {
        margin-left: 0;
    }


    .page_head .banner
    {
        padding-inline: var(--block_padding_xl);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .main_slider
    {
        width: calc(100% - 336px);
    }


    .first_section .main_slider .swiper-button-next,
    .first_section .main_slider .swiper-button-prev
    {
        --swiper-navigation-sides-offset: var(--inner_gap_xs);
    }


    .first_section .main_slider .swiper-slide
    {
        height: 260px;
        padding-inline: 60px;
    }



    .first_section .promotions
    {
        width: 328px;
    }


    .first_section .promotions .link
    {
        min-height: 260px;
        padding-block: var(--inner_gap) 66px;
    }


    .first_section .promotions .product .info
    {
        width: calc(100% - 136px);
    }


    .first_section .promotions .product .price .current
    {
        font-size: 24px;
    }


    .first_section .promotions .product .price .discount
    {
        font-size: var(--font_size_xs);
    }


    .first_section .promotions .product .thumb
    {
        width: 120px;
        height: 96px;

        border-radius: var(--border_radius_s);
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .grid_row
    {
        --items_per_line: 2;
    }



    /*---------------------
        Products filter
    ---------------------*/
    .products_filter .mob_toggle
    {
        display: flex;
    }


    .products_filter .form
    {
        display: none;
    }


    .products_filter .item
    {
        padding-block: var(--inner_gap_s);
        padding-inline: var(--inner_gap_s);
    }


    .products_filter .item + .item
    {
        margin-top: var(--inner_gap_xxs);
    }


    .products_filter .item .grid_row
    {
        --items_per_line: 4;
    }



    /*--------------
        Products
    --------------*/
    .products .grid_row
    {
        --items_per_line: 3;
    }


    .products .product .buy_btn
    {
        padding-inline: var(--inner_gap_s);
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .grid
    {
        grid-template-columns: 440px 1fr;
    }


    .catalog .category:nth-child(2)
    {
        height: 248px;

        grid-column: span 1;
    }


    .catalog .category:nth-child(2) > .sub
    {
        margin-left: 0;

        column-count: 1;
    }



    /*-------------
        Banners
    -------------*/
    .banners .grid_row
    {
        --items_per_line: 1;
    }


    .banners .banner
    {
        min-height: 280px;
        padding: var(--block_padding_xl);
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0 var(--inner_gap);
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_s);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .benefits .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .benefits .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .benefits .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }


    .benefits .item
    {
        min-height: 348px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .swiper-slide
    {
        width: 320px;
    }



    /*--------------
        SEO text
    --------------*/
    .seo_text .block_head
    {
        width: 100%;
        margin-bottom: var(--block_head_offset);
    }


    .seo_text .block_head .btn
    {
        margin-top: 0;
    }


    .seo_text .text_block
    {
        width: 100%;
    }



    /*--------------------
        FAQ categories
    --------------------*/
    .faq_categories
    {
        width: calc(100% + var(--cont_padding_double));
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        border-radius: 0;

        scroll-padding: 0 var(--cont_padding);
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .section
    {
        gap: var(--inner_gap);
    }



    /*------------------
        Article info
    ------------------*/
    .article_info
    {
        --sidebar_width: 100%;
    }


    .article_info .cont + .cont .content
    {
        padding-top: var(--inner_gap_m);
    }



    /*------------
        Stocks
    ------------*/
    .stocks .grid_row
    {
        --items_per_line: 2;
    }



    /*----------------
        Stock info
    ----------------*/
    .stock_info .cont
    {
        gap: var(--inner_gap);
    }


    .stock_info .image,
    .stock_info .data,
    .stock_info .social,
    .stock_info .text_block
    {
        width: 100%;
    }



    /*-------------------
        Order success
    -------------------*/
    .order_success .data
    {
        padding: var(--inner_gap);
    }


    .order_success .desc br
    {
        display: none;
    }



    /*--------------------
        Order products
    --------------------*/
    .order_products .grid_row
    {
        display: grid;
        overflow: auto;
        justify-content: flex-start;

        width: calc(100% + var(--inner_gap) * 2);
        margin-block: 0;
        margin-inline: calc(var(--inner_gap) * -1);
        padding-inline: var(--inner_gap);

        gap: var(--inner_gap_xs);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--inner_gap);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .order_products .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .order_products .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .order_products .grid_row > *
    {
        width: 112px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*-----------------
        Brands info
    -----------------*/
    .brands_info .filter .grid_row
    {
        --items_per_line: 2;
    }



    .brands_info .data .items > *
    {
        width: calc(50% - var(--inner_gap_m) / 2);
    }



    /*-------------------
        Cart products
    -------------------*/
    .cart_products .info
    {
        width: calc(100% - 500px);
    }


    .cart_products .options
    {
        gap: var(--inner_gap_xxs);
    }


    .cart_products .options .title
    {
        margin-bottom: 4px;
    }


    .cart_products .total_price
    {
        width: 124px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .cart_total .head
    {
        margin-bottom: var(--inner_gap_s);
    }


    .cart_info .cart_total .total_price
    {
        margin-top: var(--inner_gap_xxs);
        padding-bottom: 0;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .type
    {
        padding-bottom: 0;
    }


    .checkout_info .payment_methods
    {
        --items_per_line: 4;
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
    }


    .checkout_info .delivery_methods .radio .field
    {
        width: 100%;
    }



    /*------------
        Orders
    ------------*/
    .orders .filter
    {
        margin-left: calc(var(--inner_gap_xs) * -1);

        gap: 0;
    }


    .orders .filter .item
    {
        width: calc(33.333% - var(--inner_gap_xs));
        margin-left: var(--inner_gap_xs);
    }


    .orders .filter .period label input:checked + div
    {
        padding-inline: var(--inner_gap_xxs);
    }


    .orders .order .status
    {
        min-width: 160px;

        font-size: var(--font_size);
    }


    .orders .order .number
    {
        font-size: var(--font_size);
    }


    .orders .order .info
    {
        width: 100%;
    }


    .orders .order .delivery_payment
    {
        align-content: center;
        align-items: center;
        flex-direction: row;
    }


    .orders .order .delivery_payment .sep
    {
        display: block;
    }


    .orders .order .products_in_order
    {
        margin-top: var(--inner_gap_s);
        margin-left: 0;
    }



    /*----------------
        Order info
    ----------------*/
    .order_info .head
    {
        justify-content: center;

        margin-bottom: var(--inner_gap);
        padding-top: 0;
    }


    .order_info .head .date
    {
        margin-right: 0;
    }


    .order_info .head .btns
    {
        justify-content: center;

        width: 100%;
    }


    .order_info .col_left
    {
        width: 100%;
        margin-bottom: var(--inner_gap_l);
    }


    .order_info .col_main
    {
        width: 100%;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding-bottom: 0;
    }


    .about_head .data
    {
        min-height: 180px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .grid_row
    {
        --items_per_line: 2;
    }


    .why_we .item
    {
        gap: var(--inner_gap_s);
    }



    /*-------------
        Founder
    -------------*/
    .founder .data
    {
        min-height: 440px;
    }


    .founder .info
    {
        width: 100%;
    }


    .founder .desc,
    .founder .author
    {
        padding-right: 224px;
    }


    .founder .photo
    {
        right: -12px;

        width: 272px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        --sidebar_width: 100%;
    }


    .product_info.content_flex .content
    {
        width: 100%;
    }


    .product_info .col_left
    {
        width: 380px;
    }


    .product_info .col_center
    {
        width: calc(100% - 380px - var(--inner_gap));
    }


    .product_info aside
    {
        position: relative;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data
    {
        margin-top: 0;
    }


    .product_data .tabs
    {
        width: 100%;
        margin-inline: 0;
    }



    .product_data .features .spoler_btn
    {
        margin-top: var(--inner_gap);
    }



    .product_data .payment_methods .grid_row
    {
        --items_per_line: 2;
    }


    .product_data .steps .grid_row
    {
        --items_per_line: 2;
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding-block: var(--block_padding_xl) var(--inner_gap_l);
    }



    footer .col
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
        margin-bottom: var(--block_padding_xl);

        gap: var(--block_padding);
    }



    footer .col_main
    {
        width: 100%;
        padding: 0;
    }



    footer .logo
    {
        width: 100%;
    }



    footer .contacts,
    footer .location
    {
        width: calc(50% - var(--inner_gap_xs));
    }



    footer .contacts .phone
    {
        font-size: 22px;
    }


    footer .contacts .phone small
    {
        font-size: calc(var(--font_size) - 1px);
    }



    footer .data .links_wrap
    {
        justify-content: space-between;

        width: 70%;
    }



    footer .creator
    {
        width: 100%;
        margin-top: var(--inner_gap_xs);
    }



    /*------------------
        PopUp - City
    ------------------*/
    #city_modal .data
    {
        font-size: var(--font_size);

        letter-spacing: .16px;
    }



    /*----------------------------
        PopUp - Pick up points
    ----------------------------*/
    #pick_up_points_modal
    {
        padding: var(--inner_gap);
    }


    #pick_up_points_modal .list
    {
        width: 260px;
        max-height: 460px;
    }


    #pick_up_points_modal .map
    {
        width: calc(100% - 260px - var(--inner_gap));
    }
}
